:root {
--purple-color: #a73ffd;
--black-color: #16163f;
--lilac-color: #b77bfd;
--white-color: #efe7fb;
--font-color: #24244b;
--heading-color: #25254b;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

#About2 > div {
    background-color:white;
    height: 900px;
}

#About2 > div::after  {
    content: '';
    background: url(https://static.wixstatic.com/media/c837a6_734a3ad53e704d168a15d978cc2f9ff1~mv2.jpg/v1/fill/w_675,h_791,fp_0.88_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_734a3ad53e704d168a15d978cc2f9ff1~mv2.jpg) no-repeat  center/cover;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    top: 0px;
    left: 0px;
}


#About2 h3 {
    padding: 25px 0 45px 0;
    font-size: 2.35rem;
    line-height: 1.3;
    letter-spacing: -1px;
}

#About2 p {
    line-height: 2rem;
    color: var(--font-color);
    font-size: 1.05rem;
    font-weight: 400;
}



#About > div {
    background-color:white;
     height: 500px;   
}

#About > div::after  {
    content: '';
    background: url(https://static.wixstatic.com/media/84770f_dc9e772347e0426ea118127c9be00c67~mv2.jpg/v1/fill/w_675,h_400,fp_0.62_0.36,q_80,usm_0.66_1.00_0.01,enc_auto/Main_Image_Small.jpg
    ) no-repeat center center/cover;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    top: 0px;
    left: 0px;
}


#About h3 {
    padding: 5% 0 0% 0;
    font-size: 2.35rem;
    line-height: 1.3;
    letter-spacing: -1px;
}

#About p {
    line-height: 2rem;
    color: var(--font-color);
    font-size: 1.05rem;
    font-weight: 400;
}

@media only screen and (min-width:0px) and (max-width:320px) {
 
#About2 > div {
    background-color:white;
    height: 600px;
}

#About2 > div::after  {
    content: '';
    background: url(https://static.wixstatic.com/media/c837a6_734a3ad53e704d168a15d978cc2f9ff1~mv2.jpg/v1/fill/w_675,h_791,fp_0.88_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_734a3ad53e704d168a15d978cc2f9ff1~mv2.jpg) no-repeat  center/cover;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    top: 0px;
    left: 0px;
}


#About2 h3 {
    padding: 25px 0 45px 0;
    font-size: 2.35rem;
    line-height: 1.3;
    letter-spacing: -1px;
}

#About2 p {
    line-height: 2rem;
    color: var(--font-color);
    font-size: 1.05rem;
    font-weight: 400;
}



#About > div {
    background-color:white;
     height: 600px;   
}

#About > div::after  {
    content: '';
    background: url(https://static.wixstatic.com/media/84770f_dc9e772347e0426ea118127c9be00c67~mv2.jpg/v1/fill/w_675,h_400,fp_0.62_0.36,q_80,usm_0.66_1.00_0.01,enc_auto/Main_Image_Small.jpg
    ) no-repeat center center/cover;
    background-attachment: fixed;
    width: 100%;
    max-width: 100%;
    top: 0px;
    left: 0px;
}


#About h3 {
    padding: 5% 0 0% 0;
    font-size: 2.35rem;
    line-height: 1.3;
    letter-spacing: -1px;
}

#About p {
    line-height: 2rem;
    color: var(--font-color);
    font-size: 1.05rem;
    font-weight: 400;
}   

}